.grid-login {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
  height: 100vh;
}

.grid-main {
  display: grid;
  grid-template-areas: "h h h h"
                       "s c c c"
                       "s c c c";
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: 5.5rem 1fr 5rem;
  height: inherit;
  width: inherit;
}

@media screen and (max-width: 776px) {
  .grid-login {
    grid-template-columns: auto;
    grid-template-rows: 5fr 2fr;
  }
}

@media screen and (max-width: 500px) {
  .grid-login {
    grid-template-columns: auto;
    grid-template-rows: 5fr 2fr;
    .col-bg {
      background-size: cover;
    }
  }
}


