.grid-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90% 10%;
  width: 100%;
  height: 100vh;
}

.grid-main {
  display: grid;
  grid-template-areas: "s c c c "
                       "s c c c"
                       "s c c c";
  grid-template-columns: auto repeat(3, 1fr);
  height: inherit;
  width: inherit;
}

.grid-modal-testing {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: $grid-gap;
}

