// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$muted: #818181;
$grey: #53525299;

// Border color
$border-color: #0000000a;

$primary: $green;
$secondary: $cyan