.input-line {
  display: block;
  margin-bottom: 10px;
  .input-label {
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
  }
  .invalid-feedback, .valid-feedback {
    @extend .input-label;
    font-size: 12px;
  }
  .input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 45px 0 50px;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
    background: #e6e6e6;
    letter-spacing: 1px;
    border: 1px solid transparent;
    &.invalid {
      border-color: $red;
      @include box-shadow($red);
    }
    &.valid {
      border-color: $green;
      @include box-shadow($green);
    }
  }
  .input-group {
    position: relative;
  }
}

.invalid-feedback {
  @extend .text-danger
}
.valid-feedback {
  @extend .text-primary
}

