.alert {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1em;
  color: white;
  border-radius: 5px;
  @extend .shadow-1;
  &.--primary {
    background-color: $primary;
  }
  &.--success {
    background-color: $success;
  }
  &.--warning {
    background-color: $warning;
  }
  &.--danger {
    background-color: $danger;
  }
  &.--left {
    top: 1em;
    left: 20px;
  }
  &.--center {
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
  &.--right {
    top: 1em;
    right: 1em;
  }
}