.card {
  display: flex;
  /*overflow: hidden;*/
  @include box();
  position: relative;
  &.vertical {
    flex-direction: column;
  }
}

.card > .card-media {
  flex: 0 1 auto;
}

.card-media > .image {
  position: relative;
  height: 100%;
  img {
    object-fit: cover;
    height: inherit;
  }
}

.card-header {
  position: relative;
  padding: $grid-gap;
}

.card > .card-content {
  display: flex;
  flex-direction: column;
  padding: $grid-gap;
  flex: 1 1 auto;
}


