.content {
  display: grid;
  grid-area: c;
  @include box();
  margin: $grid-gap;
  grid-template-rows: 5rem 1fr;
  &__header {
    padding: $content-padding;
    align-self: center;
  }
  &__body {
    padding: $content-padding;
  }
}