.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 20;
  &.scaleUp {
    transform: scale(1);
    .modal-container {
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal__card {
        opacity: 0;
        animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      animation: quickScaleDown 0s 0.5s linear forwards;
      .modal-container {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        .modal__card {
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
  &.slideDownLarge {
    animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    &.out {
      animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }


  &.full-page {
    background-color: white;
    overflow-x: hidden;
    min-height: inherit;
    height: 100%;
    .modal__card {
      width: 100%;
      min-height: 100%;
      max-width: none;
      justify-content: start;
    }
  }

  .close {
    cursor: pointer;
    color: $muted;
    position: absolute;
    right: 2rem;
    top: 3rem;
  }
}




.modal__header, .modal__content {
  padding: 2rem;
}




.modal__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 60%;
  @include box();
}


