.sidebar {
  display: flex;
  grid-area: s;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  margin: $grid-gap 0 $grid-gap $grid-gap;
  width: 280px;
  height: calc(100vh - #{$grid-gap * 8});
  flex: 0 0 280px;
  overflow: hidden;
  transition: width .2s cubic-bezier(0.37, 0, 0.63, 1);
  top: $grid-gap;
  @include box();

  &.close {
    width: 80px;
    .sidebar__header {
      justify-content: center;
    }
    .sidebar__content {
      text-indent: -999em;

      .mdi.pos-left-null {
        left: 4px;
        font-size: 1.8em;
      }
      .mdi-chevron-up {
        display: none;
      }

      .vertical-list__heading:before {
        opacity: 1;
      }

      .submenu {
        display: none;
      }
    }

  }

  &__header, &__footer {
    width: 100%;
    padding: 1rem;
    background-color: #00000003;
    border-bottom: 1px solid $border-color;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}


.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 45px;
  padding: 8px;
  cursor: pointer;

  & > span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: $grey;
    border-radius: 5px;
    transition: transform .2s linear .25s;
  }

  &.active {
    span:nth-child(2) {
      transform: scale(0);
    }

    span:nth-child(1) {
      transform: rotate(-45deg) translate(-9px, 9px);
    }

    span:nth-child(3) {
      transform: rotate(45deg) translate(-9px, -9px);
    }
  }

}

.sidebar__content {
  height: 100%;
  padding: 0 1.5rem 1.5rem;

  .mdi {
    transition: all .2s cubic-bezier(0.37, 0, 0.63, 1);
  }
}
