/* spinner style */
#preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary;
  z-index: 100;
}


.spinner {
  position: relative;
  width: $basic-spinner-dimensions;
  height: $basic-spinner-dimensions;
  &.s-32 {
    $basic-spinner-dimensions: 32px;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;
  }
  &.s-48 {
    $basic-spinner-dimensions: 48px;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;
  }
  &.s-24{
    $basic-spinner-dimensions: 24px;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid $spinner-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}



/* spinner-3 styles */

.spinner.spinner-3 {

  @keyframes scale-2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(0.7);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  &:before {
    animation: scale-2 1s linear 0s infinite;
  }

  &:after {
    opacity: 0;
    animation: scale-2 1s linear 0.5s infinite;
  }
}

.loader {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}