// 1. Global tags options
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100%;
  height: 100%;
  width: inherit;
}

body {
  background-color: $body-bg;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
}


img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

ul {
  list-style: none;
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

.mdi {
  font-size: 1.5em;
  text-indent: 0;
}

//Login
.login-card {
  align-self: center;
  justify-self: center;
  width: 80%;
  min-height: 80%;
  box-shadow: 0 8px 14px 1px #0000007a;
  position: relative;
  .login--form {
    background: none;
    box-shadow: none;
  }
  .input-label {
    color: $primary;
  }
}

.login-card > .card-media {
  flex: 1 0 60%;
}
.login-card > .card-content {
  flex: 1 0 40%;
}


.label-link {
  display: block;
  color: $link;
  text-align: right;
  font-weight: 500;
  cursor: pointer;
}



// Forms
.input-label {
  color: $primary;
}

.emailForm, .codeForm {
  transform: translateX(150%);
  display: none;
}


.label-link {
  display: block;
  color: $link;
  text-align: right;
  font-weight: 500;
  cursor: pointer;
}


//Scroll
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 30px;
}

//Mask
.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  z-index: 20;

  &.active {
    visibility: visible;
    opacity: 0.4;
  }
}

//Poppup
.popup {
  color: #aaa;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 21;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s all ease-in-out;

  .user-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  h1 {
    color: #000;
    font-size: 1em;
    text-align: center;
  }

  p {
    font-size: 0.8em;
    line-height: 1.4em;
    text-align: center;
  }

  .close, .new {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: $secondary;
    }
  }

  .score-student {
    display: block;
    color: #bbb;
    font-size: 8em;
    line-height: 1em;
    text-align: center;
  }
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.answers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .checkbox {
    margin-bottom: 1rem;
  }
}

.question-text {
  margin-bottom: $margin-gap;
}


.card.child-left {
  position: absolute;
  left: calc(-300px - #{$grid-gap});
  width: 300px;
}
