// Bg settings
.bg--purple {
  background-color: $purple;
}
.bg--indigo {
  background-color: $indigo;
}

.bg--purple-gradient {
  background-image: linear-gradient(to bottom, $purple, darken($purple, 15%));
}

.bg--orange-gradient {
  background-image: linear-gradient(to bottom, $orange, darken($orange, 15%));
}


// Radius
.rad-1 {
  border-radius: 2rem !important;
}
.rad-2 {
  border-radius: 3rem !important;
}
.rad-3 {
  border-radius: 4rem !important;
}

// Text settings
.text-muted {
  color: $muted !important;
}
.text-danger {
  color: $red !important;
}
.text-primary {
  color: $primary !important;
}
.text-secondary{
  color: $secondary !important;
}
.text-green{
  color: $green !important;
}

.text-white {
  color: $white !important;
}


.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-title {
  font-size: 2rem;
  margin: 0;
}
.text-subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.text-underline {
  text-decoration: underline;
}


.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}


// Margins
.m-0 {
  margin: 0 !important;
}

.mx-1 {
  margin: 1em 0;
}
.mx-2 {
  margin: 2em 0;
}
.mx-3 {
  margin: 3em 0;
}



.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 3em;
}
.mt-3 {
  margin-top: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 3em;
}
.mb-3 {
  margin-bottom: 2em;
}


//Box
.shadow-1 {
  box-shadow: 0 3px 14px 0 #0000001a;
}

.shadow-2 {
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.44);
}


// Positions
.pos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pos-left {
  @extend .pos;
  left: 1em;

}
.pos-right {
  @extend .pos;
  right: 1em;
}

.pos-left-null {
  @extend .pos;
  left: 0
}
.pos-right-null {
  @extend .pos;
  right: 0;
}

