.d-flex {display: flex;}
.flex-col {display: flex; flex-direction: column}
.align-items-center {align-items: center;}
.align-items-end {align-items: end;}
.align-items-start {align-items: start;}
.align-items-baseline {align-items: baseline;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.justify-content-evenly {justify-content: space-evenly;}