.grid-login {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
  height: 100vh;
}

.grid-main {
  display: grid;
  grid-template-areas: ". h h h"
                       ". c c c"
                       ". f f f";
  grid-template-columns: 300px repeat(3, 1fr);
}